{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Regalo trust</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="{% static 'css/elegant-fonts.css' %}">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            MAIL: <a href="#">info@regalotrust.com</a>
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <p>PHONE: <span>+250 787 622 009</span></p>
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <!--<a href="{% url 'churches_list' %}">OFFER NOW</a>-->
                            <a href="#">OFFER NOW</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                           <a class="d-block" href="{% url 'home' %}" rel="home"><h2>REGALO Trust</h2></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <!--<li><a href="{% url 'churches_list' %}">Churches</a></li> -->
                                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->




{% block content %}
  
{% endblock content %}






    <br>
    <br>
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                        <h2>Useful Links</h2>

                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <!--<li><a href="{% url 'churches_list' %}">Offer</a></li>-->
                            <li><a href="#">Offer</a></li>
                            
                            <li><a href="#">Announcements</a></li>
                        </ul>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                        <div class="foot-latest-news">
                            <h2>Announcements</h2>

                            <ul>
                                <li>
                                    <h3><a href="#">A new cause to help</a></h3>
                                    <div class="posted-date">October 02, 2018</div>
                                </li>


                                <li>
                                    <h3><a href="#">The new ideas for helping</a></h3>
                                    <div class="posted-date">MArch 23, 2018</div>
                                </li>
                            </ul>
                        </div><!-- .foot-latest-news -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact Us
                            </h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+250 787 622 009</span></li>
                                <li><i class="fa fa-envelope"></i><span>office@regalotrust.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>116, KK 15 Rd, Kigali Rwanda</span></li>
                            </ul>
                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="https://www.facebook.com/Regalo-Trust-499163787217796/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.twitter.com/RegaloTrust"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/regalo_trust/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- .foot-contact -->

                        
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> - 2020 All rights reserved |  <i class="fa fa-heart-o" aria-hidden="true"></i> Regalo
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->

    <script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.collapsible.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/swiper.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/circle-progress.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.countTo.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/custom.js' %}"></script>

</body>
</html>